<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="root">
        输入：<input v-model="name" type="text">
        <ul>
            <li v-for="p in student">
                {{p.name}}-{{student.sex}}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#root',
            data: {
                name: '123',
                student: [{
                    name: '123', age: 234
                }]
            }
        })
        Vue.set(vm._data.student[0], 'name', '234')
        console.log(vm)
    </script>
</body>

</html>